.header-logo-div{
    position: relative;
}
.header-logo{
    left: 50%;
    top:50%;
    margin-top: 35%;
    margin-left:35%;
}
.MuiList-root{
    background-color: transparent;
}

.progress-bar-div{
    height:4px;
    width: 100%;
    background-color: rgba(0,0,0,0.1);
}
/* entry point  */
.search-box{
    position: absolute;
    background-color: white;
    border-radius: 10px;
    z-index: 100;
    width: 95%;
    max-height: 40vh;
    overflow-y: scroll;
    top:-10px;
    border:1px solid rbga(0,0,0,0.1);
    left:15px;
    box-shadow: 0px 10px 10px #888888;

}
.search-entry h3{
    font-size: 1rem;
    margin:0;
    cursor: pointer;
    font-weight: 900;
    padding: 5px;
    
    border-bottom: 1px solid rgba(0,0 ,0, 0.1);
}
.search-entry h3:hover{
    font-size: 1rem;
    margin:0;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(54, 161, 139);
    color: white;
    border-bottom: 1px solid rgba(0,0 ,0, 0.1);
}
.selected-entry h3{
    font-size: 1rem;
    margin:0;
    cursor: pointer;
    padding: 5px;
    background-color: rgb(54, 161, 139);
    color: white;
    border-bottom: 1px solid rgba(0,0 ,0, 0.1);
}
.svg-figure{
    width:25%
}
.svg-icon{
    width: 0;
    height: 0;
    
}
.svg-icon:nth-child(1){
    width: 0;
    height: 0;
    opacity: 0;
    animation:growAbove 1s forwards   0s;

}
.svg-icon:nth-child(2){
    width: 0;
    height: 0;
    opacity: 0;

    animation: growAbove 1s forwards 1s;
}
.svg-icon:nth-child(3){
    width: 0;
    height: 0;
    opacity: 0;

    animation:growAbove 1s forwards 2s;

}
.svg-icon:nth-child(4){
    width: 0;
    height: 0;
    opacity: 0;

    animation: growAbove 1s forwards   3s;
}

@keyframes growAbove {
    0% {
        width: 0;
    height: 0;
    opacity: 0;

    }
    100% {
        width: 45px;
    height: 45px;
    opacity: 1;

    }
  }
.svg-icon-span{
    position: relative;
    
}

.svg-icon-span:not(:last-child)::after{
    content: "";
    position: absolute;
    width: 45px;
    border-radius: 5px;
    background-color: rgba(0,0,0,0.1);
    height:2px;
    top:50%;
    left: 120%;
}

/* personal info  */

.outer-div{
    padding: 29.0px 0px 19.800px 153px;
}

.input-label-div{
    position: relative;
    overflow: hidden;
    margin: 10px;
    width: auto;
    height: 5rem;
}
.inp-label{
    position: absolute;
    top :20px;
    font-size: 1.2rem;
    left:20px;
    color: rgba(0,0,0,0.5);
    transition: all ease 0.4s;

    
}
.inp{
    width: 100%;
    border: none;
    border: solid 2px rgb(0,0,0,0.1);
    border-radius: 10px;
    height: 100%;
    bottom: 0;
    padding-top:5% ;
    /* transition: all linear 0.1s; */

}

.inp:focus +.inp-label {
    top:10px;
    font-size: 0.9rem;
}
.inp:valid +.inp-label {
    top:10px;
    font-size: 0.9rem;
}
.inp:focus{
    outline: none;
    border: solid 2px rgb(54, 161, 139);
    border-radius: 10px;
}

input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.lang-sel{
    display: flex;
    border: none;
    color: rgb(54, 161, 139);
    background-color: transparent;
    width: 120px;
    font-weight: 900;
    border: solid 3px white ;
    height: 70px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 20px;
}
.lang-sel:focus{
    border: solid 3px rgb(54, 161, 139) ;
    border-radius: 10px;
    outline: none;
}
.back-btn{
    display: flex;
    border: none;
    color: rgb(54, 161, 139);
    background-color: transparent;
    width: 120px;
    font-weight: 900;
    border: solid 3px white ;
    height: 70px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    font-size: 1.1rem;
    margin: 20px;
    
}

.back-btn:focus{
    border: solid 3px rgb(54, 161, 139) ;
    border-radius: 10px;
    outline: none;
}

.continue-btn{
    display: flex;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 900;
    background-color: rgb(54, 161, 139);
    width: 10   0px;
    justify-content: space-between;
    height: 70px;
    text-align: center;
    padding: 20px;
    cursor: pointer;
    border-radius: 10px;
    margin: 20px;
    transition: all 0.3s;
}
.continue-btn:focus{
    border: solid 3px rgb(54, 161, 139) ;
    border-radius: 10px;
    outline: none;
}
.continue-btn:hover {
    box-shadow: 0px 10px 10px #888888;
    transform: translate(0,1px)
}



@media only screen and (max-width: 600px) {
    .outer-div{
        padding: 0;
    }
    .w-60{
        width:100%;
    }
    .lang-sel {
        height: 40px;
        color: black;
        font-size: 0.8rem;
        margin: 10px;
        padding: 0;
        width: auto;
    }
    .svg-figure{
        width:50%;
    }
    .svg-icon-span{
        position: relative;
        
    }
    
    .svg-icon-span:not(:last-child)::after{
        content: "";
        position: absolute;
        width: 0;
        border-radius: 5px;
        background-color: rgba(0,0,0,0.1);
        height:2px;
        top:50%;
        left: 120%;
    }
    .header-logo{
        position: absolute;
        left: 10%;
        top:10%;
    margin-left:0;
    margin-top: 5%  ;
    }
  }


  /* create password  */
.password-mask{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    position: absolute;
    top:0;
    width: auto;
    height: 100%;
    right:20px;
    cursor: pointer;
}
.password-mask:focus{
    outline: none;
}


.checkbox-label {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 1px solid black;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: rgb(54, 161, 139);
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #FFFFFF;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #ffffff;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left:5px;
  top: 1px;
  width: 6px;
  height: 10px;
  border: solid #ffffff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.input-title{
    margin-left: 15px;
    font-weight: bold;
    font-size: 0.8rem;
}
