@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';

.align {
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;

	p {
		margin-top: 20px;
		font-size: 2rem;
	}

	@include mobile {
		p {
			font-size: 1.4rem;
		}
	}
}

.heading-hirewithus {
	background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
	width: 100%;
	padding: 100px 60px 40px 60px;
	display: grid;
	grid-template-columns: 3fr 1fr;

	.head-div {
		margin: auto;
		text-align: center;

		h2 {
			font-size: 2rem;
		}

		p {
			font-size: 2.6rem;
		}

		.p-div {
			text-align: left;
			margin-top: 40px;
			width: 500px;
			font-size: 1.2rem;
		}

		.btn-div {
			margin-top: 30px;
			text-align: left;
		}
	}

	img {
		opacity: 0.6;
		height: 180px;
		width: 180px;
	}

	.btn {
		display: inline-block;
		background: $secondaryColor;
		color: rgb(255, 255, 255);
		padding: 0.7rem 2rem;
		font-size: 1rem;
		border: none;
		cursor: pointer;
		margin-right: 0.5rem;
		transition-duration: 0.8s;
		outline: none;
		border-radius: 25px;

		&:hover {
			transition: opacity 0.5s ease-out;
			background: rgb(255, 255, 255);
			color: rgb(0, 0, 0);
		}
	}

	@include mobile {
		padding: 100px 30px 0 30px;
		display: block;
		width: 100%;

		.head-div {
			text-align: left;

			p {
				font-size: 1.9rem;
			}

			.p-div {
				width: 100%;
				font-size: 1.1rem;
			}
		}

		img {
			z-index: -1;
			margin-top: -140px;
			margin-left: 180px;
			width: 140px;
			height: 140px;
			opacity: 0.3;
		}
	}
}

.yellow-back {
	background-color: rgb(235, 201, 91);
	color: black;
}

.green-back {
	background-color: rgb(20, 230, 160);
	color: black;
}

.pink-back {
	background-color: rgb(255, 171, 171);
	color: black;
}

.blue-back {
	background-color: rgb(0, 119, 255);
	color: white;
}

.col2 {
	float: left;
	width: 33.33%;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin-top: 30px;

	h2 {
		font-size: 2rem;
	}

	p {
		margin: auto;
		text-align: center;
		width: 50%;
		font-size: 1.2rem;
		padding: 30px 0;
		margin-top: 10px;
		border-radius: 5px;
	}

	img {
		width: 230px;
	}

	@include mobile {
		padding: 0;
		margin-top: 20px;

		p {
			font-size: 0.9rem;
			padding: 10px 0;
			width: 90%;
		}

		img {
			margin-top: 10px;
			width: 160px;
		}
	}
}

.pd1 {
	padding: 20px 200px 80px 200px;

	@include mobile {
		padding: 10px 10px;
	}
}

.row-div {
	width: 100%;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}

	50% {
		transform: translate(0, 15px);
	}

	100% {
		transform: translate(0, -0px);
	}
}

.row-div1 {
	width: 100%;
	padding: 20px 40px;

	.align {
		.p-div {
			font-size: 1.5rem;
		}
	}

	@include mobile {
		padding: 10px 10px 30px 10px;

		.align {
			.p-div {
				font-size: 1.1rem;
			}
		}
	}
}

.student-details-div {
	display: flex;
	padding: 0 80px;
	margin-top: 20px;
	padding-bottom: 80px;
	align-items: center;
	box-shadow: 0px 0px 32px 6px rgba(0, 0, 0, 0.5);

	.content {
		text-align: center;
		padding: 20px;
		width: 70%;

		h1 {
			font-size: 2rem;
			margin: 50px 0;
			font-weight: 500;
			padding: 10px;
		}

		.text-content {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 15px;
			grid-row-gap: 30px;

			div {
				display: flex;
				flex-direction: column;
				justify-content: space-between;

				h2 {
					color: $secondaryColor;
					font-weight: 300;
					margin-bottom: 20px;
				}

				p {
					font-size: 0.9rem;
				}
			}
		}
	}

	img {

		width: 30%;
		padding: 20px;
		margin: auto;
	}

	@include mobile {
		padding: 10px;
		display: block;
		box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);

		.content {
			width: 100%;

			h1 {
				margin: 10px 0;
				font-size: 1.5rem;
			}

			.text-content {
				div {
					h2 {
						font-size: 1.2rem;
					}
				}
			}
		}

		img {
			width: 100%;
			padding: 0;
		}
	}
}

.col3 {
	float: left;
	width: 33%;
	margin: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0;
	margin-top: 60px;

	p {
		font-size: 1.25rem;
	}

	img {
		width: 60%;
		height: 60%;
		margin-bottom: 20px;
	}

	.img {
		width: 57%;
		height: 57%;
	}

	@include mobile {
		width: 100%;

		img {
			width: 30%;
			height: 30%;
		}

		.img {
			width: 30%;
			height: 30%;
		}

		.img-1 {
			width: 40%;
			height: 40%;
		}
	}
}

.row-div:after {
	content: '';
	display: table;
	clear: both;
}

.row-div1:after {
	content: '';
	display: table;
	clear: both;
}

.companies-div {
	text-align: center;
	padding: 20px 30px;

	// background-color: #535c00;
	p {
		font-size: 1.7rem;
	}

	@include mobile {
		padding: 20px 0;
		width: 100%;

		p {
			font-size: 1.3rem;
			padding: 0 40px;
		}
	}

	.company-img-wrapper {
		display: flex;
		margin-top: 30px;
		align-items: center;
		flex-wrap: wrap;
		justify-content: center;
		padding: 0 20px;

		.company-img {
			width: auto !important;
			max-height: 100px;
			margin: 30px;
			max-width: 80px;

			@include mobile {
				margin: 10px;
				max-width: 60px;
			}
		}

		@include mobile {
			padding: 0;
		}
	}
}

.bg-orange {
	background: rgb(255, 226, 193);
	color: rgb(248, 246, 246);
}

.white {
	color: rgb(255, 255, 255);
}

.hiring-manager-form {
	display: block;
	padding: 30px 20px;
	text-align: center;
	background: linear-gradient(43deg, #40ec88 0%, #85dfbc 46%, #32c2fc 100%);

	p {
		font-size: 1.5rem;
	}

	a {
		margin-top: 20px;
	}

	.grid {
		padding: 20px;
		display: grid;
		grid-template-columns: 2fr 2fr;

		img {
			width: 400px;
		}
	}

	@include mobile {
		padding: 50px 0px;

		p {
			font-size: 1.2rem;
		}

		.grid {
			padding: 0;
			display: block;

			img {
				display: none;
			}
		}
	}
}

.schedule-a-call-form {

	// min-height: 100vh;
	// background-color: rgba(white,0.7);
	.res-wrapper {
		text-align: center;

		p {
			font-size: 0.8rem;
			color: white;
			font-weight: 300;
			padding: 10px;
		}

		.response {
			color: $secondaryColor;
		}

		.error {
			color: red;
		}
	}

	form {
		border: 1px solid rgb(121, 121, 121);
		width: 65%;
		margin: auto;
		padding: 10px;
		border-radius: 10px;
		// background-color: rgba(rgb(119, 118, 118), 0.7);

		@include mobile {
			width: 90%;
			padding: 0;
			border: none;
		}

		// .header {
		//   text-align: center;
		//   border-bottom: 1px solid black;
		//   padding: 20px;
		// }

		div {
			width: 100%;
			margin: 10px 0;
			// label {
			//   margin: 5px 0;
			//   font-size: 1rem;
			//   font-family: 'Aleo', cursive;
			//   font-weight: bold;
			// }

			input,
			select {
				padding: 7px;
				font-family: 'Aleo', cursive;
				border: none;
				outline: none;
				color: black;
				// border-radius: 3px;
				// border: 1px solid rgba(54, 50, 54, 0.333);
			}

			@include mobile {

				input,
				select {
					padding: 10px 5px;
					margin-top: 7px;
				}
			}
		}

		.inputs {
			padding: 0;
			display: grid;
			grid-template-columns: 1fr 0.5fr 1fr;
			grid-column-gap: 10px;

			label {
				margin: auto;
			}
		}

		button[type='submit'] {
			text-align: center;
			background-color: $secondaryColor;
			width: 30%;
			padding: 10px;
			color: white;
			// font-weight: bold;
			letter-spacing: 1px;
			text-transform: uppercase;
			font-size: 0.8rem;
			border-radius: 25px;
			margin: auto;
			outline: none;
			margin-top: 10px;

			@include mobile {
				width: 40%;
				padding: 15px;
				margin-top: 15px;
			}
		}
	}
}