.bgimg {
  background-image: url(../../assets/Images/AboutUS/bg-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  height: calc(100vh - 10vh);
}

.home-page-header {
  text-align: center;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@-webkit-keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.home-page-header .content {
  text-align: left;
}

.home-page-header .content h2 {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.home-page-header .content p {
  font-size: 1.5rem;
}

.home-page-header .content a {
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px;
  background-color: #ff8800;
  text-decoration: none;
  transition: all 0.5s;
  color: white;
}

.home-page-header .content a:hover {
  background: black;
}

.home-page-header .content a:hover a {
  color: white;
}

.home-page-header img {
  width: 50%;
}

@media (max-width: 600px) {
  .home-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page-header img {
    width: 100%;
  }
  .home-page-header .content {
    text-align: center;
  }
  .home-page-header .content h2 {
    font-size: 1.3rem;
  }
  .home-page-header .content p {
    font-size: 0.9rem;
  }
  .home-page-header .content a {
    padding: 5px 20px;
  }
}

.home-page-courses {
  background-color: white;
  margin: auto;
  text-align: center;
}

.home-page-courses .design {
  height: 150px;
  width: 100%;
  background-color: #ecfafc;
  -webkit-clip-path: polygon(100% 0, 100% 42%, 89% 100%, 60% 44%, 16% 100%, 0 79%, 0 0);
          clip-path: polygon(100% 0, 100% 42%, 89% 100%, 60% 44%, 16% 100%, 0 79%, 0 0);
}

.home-page-courses .courses-container {
  margin-top: 100px;
}

.home-page-courses .courses-container .course {
  width: 80%;
  background-color: #ecfafc;
  margin: 50px auto;
  border-radius: 15px;
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 59px -13px #050505;
  box-shadow: 0px 0px 59px -13px #050505;
}

@media (max-width: 576px) {
  .home-page-courses .courses-container .course {
    width: 100%;
    border-radius: 0;
    padding-bottom: 10px;
  }
}

.home-page-courses .courses-container .course .heading {
  background-color: #ff8800;
  margin: auto;
  padding: 10px;
}

.home-page-courses .courses-container .course .heading h4 {
  color: white;
  font-size: 1.5rem;
}

.home-page-courses .courses-container .course .sub-heading {
  display: -ms-grid;
  display: grid;
  width: 90%;
  margin: 30px auto;
  -ms-grid-columns: 1.6fr 1fr 1fr;
      grid-template-columns: 1.6fr 1fr 1fr;
  border-bottom: 1px solid #c7c7c7;
}

.home-page-courses .courses-container .course .sub-heading .free-trial {
  color: #ff8800;
}

.home-page-courses .courses-container .course .sub-heading .free-trial h3, .home-page-courses .courses-container .course .sub-heading .free-trial h2, .home-page-courses .courses-container .course .sub-heading .free-trial p {
  color: #f6ab32 !important;
}

.home-page-courses .courses-container .course .sub-heading .content {
  text-align: left;
}

.home-page-courses .courses-container .course .sub-heading .content h3 {
  color: #f6ab32;
  font-size: 1rem;
}

.home-page-courses .courses-container .course .sub-heading .content span svg {
  width: 15px;
  height: 15px;
}

.home-page-courses .courses-container .course .sub-heading .content p {
  font-size: 0.8rem;
}

@media (max-width: 576px) {
  .home-page-courses .courses-container .course .sub-heading {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home-page-courses .courses-container .course .sub-heading .content {
    border-bottom: 1px solid #c7c7c7;
  }
}

.home-page-courses .courses-container .course .benefit-list {
  list-style: none;
  padding: 10px 0;
  margin: 30px auto;
  width: 90%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid #c7c7c7;
}

.home-page-courses .courses-container .course .benefit-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page-courses .courses-container .course .benefit-list li svg {
  width: 30px;
  margin: 0 5px;
}

@media (max-width: 576px) {
  .home-page-courses .courses-container .course .benefit-list {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.home-page-courses .courses-container .course .btns-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin: auto;
}

.home-page-courses .courses-container .course .btns-div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 70%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-page-courses .courses-container .course .btns-div button, .home-page-courses .courses-container .course .btns-div a {
  padding: 15px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #c7c7c7;
  margin: 20px 10px;
  border-radius: 5px;
  text-transform: uppercase;
  position: relative;
  z-index: 1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  text-decoration: none;
  overflow: hidden;
}

.home-page-courses .courses-container .course .btns-div button::before, .home-page-courses .courses-container .course .btns-div a::before {
  content: "";
  background-color: #ff8800;
  width: 0;
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.home-page-courses .courses-container .course .btns-div button:hover, .home-page-courses .courses-container .course .btns-div a:hover {
  color: white;
}

.home-page-courses .courses-container .course .btns-div button:hover::before, .home-page-courses .courses-container .course .btns-div a:hover::before {
  width: 100%;
}

.home-page-courses .courses-container .course .btns-div .apply-now {
  background-color: #ff8800;
  color: white;
  font-weight: bold;
}

.home-page-courses .courses-container .course .btns-div .apply-now::before {
  content: "";
  background-color: #ecfafc;
}

.home-page-courses .courses-container .course .btns-div .apply-now:hover {
  color: black;
}

@media (max-width: 576px) {
  .home-page-courses .courses-container .course .btns-div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .home-page-courses .courses-container .course .btns-div span {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
  }
  .home-page-courses .courses-container .course .btns-div button, .home-page-courses .courses-container .course .btns-div a {
    width: 100%;
    margin: 5px;
  }
}

.join-yav-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 6% 0;
}

.join-yav-container small {
  color: white;
}

.join-yav-container h2 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

.join-yav-container p {
  color: white;
}

.join-yav-container .btn-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.join-yav-container .btn-div a {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  width: 100%;
  background-color: #ff8800;
  padding: 8%;
  color: white;
  font-weight: 500;
}

@media (max-width: 600px) {
  .join-yav-container small {
    font-size: 0.8rem;
  }
  .join-yav-container h2 {
    font-size: 2rem;
  }
  .join-yav-container .btn-div {
    width: 100%;
    padding: 20px;
  }
  .join-yav-container .btn-div button {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=AboutUs.css.map */