.bgimg {
  background-image: url(../../assets/Images/AboutUS/bg-img.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: normal;
  height: calc(100vh - 10vh);
}

.home-page-header {
  text-align: center;
  padding: 0 5%;
  background-color: rgba(255, 255, 255, 0.6);
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
}

@-webkit-keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes header-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

.home-page-header .content {
  text-align: left;
}

.home-page-header .content h2 {
  font-size: 3rem;
  font-weight: 800;
  color: black;
}

.home-page-header .content p {
  font-size: 1.5rem;
}

.home-page-header .content a {
  border-radius: 5px;
  padding: 15px;
  font-size: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin: 10px 0;
  background-color: #ff8800;
  text-decoration: none;
  transition: all 0.5s;
  color: white;
}

.home-page-header .content a:hover {
  background: black;
}

.home-page-header .content a:hover a {
  color: white;
}

.home-page-header img {
  width: 50%;
}

@media (max-width: 600px) {
  .home-page-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .home-page-header img {
    width: 100%;
  }
  .home-page-header .content {
    text-align: center;
  }
  .home-page-header .content h2 {
    font-size: 1.8rem;
  }
  .home-page-header .content p {
    font-size: 0.9rem;
  }
}

.home-page-courses {
  background-color: #ecfafc;
  margin: auto;
  padding: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 600px) {
  .home-page-courses {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-page-courses a {
  text-decoration: none;
}

.home-page-courses .heading {
  margin: 10px;
  padding: 10px;
}

.home-page-courses .heading:hover {
  color: #ff8800;
}

.home-page-courses .courses-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 600px) {
  .home-page-courses .courses-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.home-page-courses .courses-container .course {
  width: 250px;
  height: 300px;
  margin: 10px;
  border-radius: 5px;
  background-color: white;
  border: 1px solid #e7e3e3;
}

.home-page-courses .courses-container .course .img {
  width: 100%;
  height: 65%;
  background-position: center;
  background-size: cover;
}

.home-page-courses .courses-container .course .content {
  padding: 10px;
}

.home-page-courses .courses-container .course .content .rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.join-yav-container {
  background-color: black;
  color: white;
  text-align: center;
  padding: 6% 0;
}

.join-yav-container small {
  color: white;
}

.join-yav-container h2 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

.join-yav-container p {
  color: white;
}

.join-yav-container .btn-div {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-column-gap: 10%;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

.join-yav-container .btn-div a {
  border-radius: 5px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  width: 100%;
  background-color: #ff8800;
  padding: 8%;
  color: white;
  font-weight: 500;
}

@media (max-width: 600px) {
  .join-yav-container small {
    font-size: 0.8rem;
  }
  .join-yav-container h2 {
    font-size: 2rem;
  }
  .join-yav-container .btn-div {
    width: 100%;
    padding: 20px;
  }
  .join-yav-container .btn-div button {
    font-size: 0.8rem;
  }
}

@media (max-width: 600px) {
  .heading {
    font-size: 1.5rem;
  }
}
/*# sourceMappingURL=AboutUs.css.map */