@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';


$pagePadding: 1rem;
$pageWidth : 80%;
.bgimg{
    background-image: url(../../assets/Images/AboutUS/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    
    height: calc(100vh - #{$navHeight});
    
}
.home-page-header{
    text-align: center;
    padding: 0 5%;
    background-color: rgba(white,0.6);
    backdrop-filter: blur(2px);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    .content{
        text-align: left;
        
        h2{
            font-size: 3rem;
            font-weight: 800;
            color: black;
        }
        p{
            font-size: 1.5rem;
            
        }
        a{
            border-radius: 5px;
            padding: 15px;
            font-size: 1rem;
            transition: all 0.5s;
            margin: 10px ;
            background-color: $secondaryColor;
            
            text-decoration: none;
            transition: all 0.5s;
            color: white;
            
            &:hover {
                background: black;
                a{
                    color: white;
                }
            }
        }
    }
    img{
        width: 50%;
    }
    @media (max-width:600px){
        flex-direction: column;
        text-align: center;
        justify-content: center;
        img{
            width: 100%;
        }
        .content{
            text-align: center;
            h2{
                font-size: 1.5rem;
            }
            p{
                font-size: 1rem;
            }
            a{
                margin: auto;
                padding: 5px 20px;
            }
        }
        
    }
}
.home-page-courses{
    background-color: white;
    margin: auto;
    text-align: center;

    .design{
        height: 150px;
        width: 100%;
        background-color: $primaryColor;
        clip-path: polygon(100% 0, 100% 42%, 89% 100%, 60% 44%, 16% 100%, 0 79%, 0 0);
    }

    .courses-container{
        margin-top: 100px;
        .course{
            width: 80%;
            background-color: $primaryColor;
            margin: 50px auto;
            border-radius: 15px;
            overflow: hidden;
            -webkit-box-shadow: 0px 0px 59px -13px rgba(5,5,5,1);
            -moz-box-shadow: 0px 0px 59px -13px rgba(5,5,5,1);
            box-shadow: 0px 0px 59px -13px rgba(5,5,5,1);
            @include mobile{
                width: 100%;
                border-radius: 0;
                padding-bottom: 10px ;
            }
            .heading{
                background-color: $secondaryColor;
                margin: auto;
                padding: 10px;
                h4{
                    color: white;
                    font-size: 1.5rem;
                }
                
            }
            .sub-heading{
                display: grid;
                width: 90%;
                margin: 30px auto;
                grid-template-columns: 1.6fr 1fr 1fr;
                border-bottom: 1px solid rgb(199, 199, 199);
                .free-trial{
                    color: $secondaryColor;
                    h3, h2, p{
                        color: rgb(246, 171, 50) !important;    
                    }
                }
                .content{
                    text-align: left;
                    h3{
                        color: rgb(246, 171, 50);
                        font-size: 1rem;
                    }
                    span{
                        svg{
                            width: 15px;
                            height: 15px;
                        }
                    }
                    p{
                        font-size: 0.8rem;
                    }
                }
                @include mobile{
                    grid-template-columns: 1fr;
                    .content{
                        border-bottom: 1px solid rgb(199, 199, 199) ;
                        
                    }
                }    
            }
            .benefit-list{
                list-style:none;
                padding: 10px 0;
                margin: 30px auto;
                width: 90%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                border-bottom: 1px solid rgb(199, 199, 199);
                li {
                    display: flex;
                    align-items: center;
                    
                    svg{
                        width: 30px;
                        margin: 0 5px;
                    }
                }
                @include mobile{
                    grid-template-columns: 1fr;
                    
                }
        
            }
            .btns-div{
                display: flex;
                justify-content: center;
                align-items: center;
                width: 90%;
                margin: auto;
                span{
                    display: flex;
                    width: 70%;
                    justify-content: flex-start;
                    align-items: center;
                }
                
                button, a{
                    padding: 15px;
                    width: fit-content;
                    border: 1px solid rgb(199, 199, 199);
                    margin: 20px 10px;
                    border-radius: 5px;
                    text-transform: uppercase;
                    position: relative;
                    z-index: 1;
                    transition: all 0.2s;
                    text-decoration: none;
                    overflow: hidden;
                    &::before{
                        content: "";
                        background-color: $secondaryColor;
                        width: 0;
                        position: absolute;
                        height: 100%;
                        top:0;
                        left: 0;
                        z-index: -1;
                        transition: all 0.2s;
                        
                    }
                    &:hover{
                        color: white;
                        &::before{
                            width: 100%;
                        }
                    }
                }
                .apply-now{
                    background-color: $secondaryColor;
                    color: white;
                    font-weight: bold;
                    &::before{
                        content: "";
                        background-color: $primaryColor;
                    }
                    &:hover{
                        color: black;
                        
                    }
                }
                @include mobile{
                    flex-direction: column;
                    span{
                        flex-direction: column;
                        width: 100%;
                    }
                    button,a {
                        width: 100%;
                        margin: 5px;
                    }
                }    
                
            }   
            
        }
    }
}

.join-yav-container{
    background-color: $primaryColor;
    color: black;
    text-align: center;
    padding: 6% 0;
    small{
        color: black;
        font-size: 1rem;
    }
    h2{
        font-size: 3rem;
        color: black;
        font-weight: 500;
    }
    p{
        color: black;
    }

    .btn-div{
        display: grid;
        grid-template-columns: 1fr ;
        // grid-column-gap: 10%;
    
        width: 20%;
        margin: auto;
        margin-top: 50px ;
        a{
            border-radius: 5px;
            display: grid;
            place-items: center;
            text-decoration: none;
            width: 100%;
            background-color: $secondaryColor;
            padding: 8%;
            color: white;
            font-weight: 500;
        }
    }
    @media(max-width:600px){
        
        h2{
            font-size: 2rem;
        }
        .btn-div{
            width: 100%;
            padding:  20px;
            button{
                font-size: 0.8rem;
            }
        }
        
    }
}

.our-mentor-companies-div{
    text-align: center;
    padding: 5% ;
    background-color:rgba($secondaryColor, 0.1);
    @include mobile{
        padding: 15% 0;
    }
    .company-img-wrapper{
        
        .company-img{
            width: auto !important;
            height: 100px;
            margin: 50px;   
            @include mobile {
                margin: 10px;
            }
        }
    }
}
.programme-outline{
    text-align: center;
    padding: 50px;
    
    .outline-content{
        width: 50%;
        margin: auto;
        font-weight: bold;
        font-size: 1.3rem;
        @include mobile {
            width: 100%;
            font-size: 1.1rem;
        }
    }
    .details-wrapper{
        
        margin: 100px auto;
        display: flex;
        justify-content: space-evenly;
        @include mobile {
            flex-direction: column;
        }
        .detail{
            margin: 0 25px;
            -webkit-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
            -moz-box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
            box-shadow: 0px 0px 30px 2px rgba(0,0,0,0.75);
            border-radius: 15px;
            padding: 30px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            min-height: 500px;
            img{
                width: 150px;
            }
            h3{
                font-size: 1.8rem;
                @include mobile {
                    font-size: 1.3rem;
                }
            }
            p{
                font-size: 1.1rem;   
                margin: auto;
                @include mobile {
                    font-size: 1rem;
                }
            }
            @include mobile {
                flex-direction: column;
                margin: 20px 0;
                min-height: 150px;
            }
        }
    }
}

.what-will-it-cost-div{
    

    background-color: rgba(white,0.7);
    padding: 5% 0;
    text-align: center;
    
    h2{
        font-size: 2.5rem;        
        margin-bottom: 50px;
        @include mobile{
            font-size: 2rem;
        }
    }
    ul{
        padding:0;
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        @include mobile{
            flex-direction: column;
        }
        li{
            width: 20%;
            font-size: 1.1rem;
            margin: 10px 0;
            line-height: 1.3rem;
            font-family: 'Inter';
            text-align: left;
            border-radius: 15px;
            padding: 20px;
            transition: all 0.3s;
            height: fit-content;
            @include mobile{
                width: 80%;
                margin: auto;
            }
            svg{
                display: block;
                margin-bottom: 20px ;
                width: 30px;
                height: 30px;
                path{
                    color: $secondaryColor;
                    transition: all 0.3s;
                }
                
            }
            p, b{
                transition: all 0.3s;
            }
            &:hover{
                background-color: $secondaryColor;
                p,b{
                    color: white;
                }
                svg{
                    path{
                        color: white;
                    }
                }
            }
        }
    }
    // }
    
}
.heading{
    
        @media (max-width:600px) {
            font-size: 1.5rem;
        }
    
}

.crack-interview-wrapper{
    display: flex;
    justify-content: space-between;
    
    padding: 5% 0;
    
    background-color: black;
    background-image: linear-gradient(315deg, #a1d5da 0%, rgb(194, 194, 40), 74%);
    @include mobile{
        flex-direction: column;
    }
    background-image: url(../../assets/Images/AboutUS/question.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    backdrop-filter: blur(10px);
    .content-div{
        width: 50%;
        margin: 0 50px;
        border-radius: 10px;
        background-color: transparent;
        padding-left: 5%;
        
        @include mobile{
            width: 100%;
            padding: 0 50px;
            margin: 0;
        }
        h2{
            font-size: 2.5rem;
            margin-bottom: 80px;
            font-family:'Aleo';
            color: white;
            @include mobile{
                font-size: 1.5rem;
                margin-bottom: 20px;
                
            }

        }
        ul{
            padding:0;
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-column-gap: 120px;
            @include mobile{
                grid-template-columns: 1fr;
            }
            li{
                font-size: 1rem;
                font-family: 'Inter';
                margin: 20px 0;
                line-height: 1.5rem;
                color: white;
                font-size: 1rem;
            }

        }
    }
    .img-div{
        width: 50%;
        flex-grow: 1;
        margin-left: auto;
        display: flex;
        justify-content: flex-end;
        @include mobile{
            width: 100%;
            padding: 0 50px;
            margin: 0;
        }

        img{
            border-radius: 10px;
            width: 80%;
            margin-left: auto;
            height: auto;
            @include mobile{
                width: 100%;
                
                margin: 0;
            }
            
        }
    }
}