@import '../../assets/styles/variables.scss';

$pagePadding: 1rem;
$pageWidth : 80%;
.bgimg{
    background-image: url(../../assets/Images/AboutUS/bg-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: normal;
    height: calc(100vh - #{$navHeight});
    
}
.home-page-header{
    text-align: center;
    padding: 0 5%;
    background-color: rgba(white,0.6);
    
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    @keyframes header-animation {
        0%{
            background-position: left;
        }
        100%{
            background-position: right;
        }
    }
    .content{
        text-align: left;
        
        h2{
            font-size: 3rem;
            font-weight: 800;
            color: black;
        }
        p{
            font-size: 1.5rem;
            
        }
        a{
            border-radius: 5px;
            padding: 15px;
            font-size: 1rem;
            transition: all 0.5s;
            margin: 10px 0;
            background-color: $secondaryColor;
            
            text-decoration: none;
            transition: all 0.5s;
            color: white;
            
            &:hover {
                background: black;
                a{
                    color: white;
                }
            }
        }
    }
    img{
        width: 50%;
    }
    @media (max-width:600px){
        flex-direction: column;
        text-align: center;
        justify-content: center;
        img{
            width: 100%;
        }
        .content{
            text-align: center;
            h2{
                font-size: 1.8rem;
            }
            p{
                font-size: 0.9rem;
            }
        }
        
    }
}
.home-page-courses{
    background-color: $primaryColor;
    margin: auto;
    padding: 2% ;
    display: flex;
    
    justify-content: space-between;
    @media (max-width: 600px){
        flex-direction: column;
    }
    a{
        text-decoration: none;
    }
    .heading{
        margin: 10px;
        padding: 10px;
        
        &:hover {
            
            color: $secondaryColor;
            
        }
    }
    .courses-container{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;
        @media (max-width: 600px){
            flex-direction: column;
        }   
        .course{
            width: 250px;
            height: 300px;
            margin: 10px;
            border-radius: 5px;
            background-color: white;
            border: 1px solid rgb(231, 227, 227);
            .img{
                width: 100%;
                height: 65%;
                background-position: center;
                background-size: cover;
            }
            .content{
                padding: 10px ;
                .rating {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
}

.join-yav-container{
    background-color: black;
    color: white;
    text-align: center;
    padding: 6% 0;
    small{
        color: white;
    }
    h2{
        font-size: 3rem;
        color: white;
        font-weight: 500;
    }
    p{
        color: white;
    }

    .btn-div{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-column-gap: 10%;
        width: 50%;
        margin: auto;
        margin-top: 50px ;
        a{
            border-radius: 5px;
            display: grid;
            place-items: center;
            text-decoration: none;
            width: 100%;
            background-color: $secondaryColor;
            padding: 8%;
            color: white;
            font-weight: 500;
        }
    }
    @media(max-width:600px){
        small{
            font-size: 0.8rem;
        }
        h2{
            font-size: 2rem;
        }
        .btn-div{
            width: 100%;
            padding:  20px;
            button{
                font-size: 0.8rem;
            }
        }
        
    }
}

.heading{
    
        @media (max-width:600px) {
            font-size: 1.5rem;
        }
    
}

