@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';

.top-bg{
    background-color: rgba($secondaryColor, 0.8);
    width: 100%;
}
.course-details-details-card{
    background-color: white;
    border-radius: 20px;
    padding: 3% 0% 3% 2%;
    top: 80px;
    position: relative;
    margin: 0 10%;
    box-shadow: 0px 0px 30px #aaaaaa  ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mobile{
        flex-direction: column;
    }
    .price{
        b{
            font-size: 1.2rem;
            color: $secondaryColor;
        }
    }
    .left-div {
        width: 60%;
        margin: auto;
    }
    .right-div{
        margin: 0 10px;
        margin: 1px sold;
        padding: 10px;
        box-shadow: 0px 0px 10px #aaaaaa  ;
        border-radius: 25px;
        overflow: hidden;
        width: 35%;
        @include mobile{
            width: 80%;
            margin: 10px;
        }
    }
    .discreption{
        color: #696969;
        font-size: 0.9rem;
    }
    .benefit-list{
        list-style:none;
        padding: 0;
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        li {
            display: flex;
            align-items: center;
            svg{
                width: 30px;
                margin: 0 5px;
            }
        }

    }
    @include mobile{
        margin: 0 20px ;
        padding: 1%;
        
        .course-title{
            font-size: 1.5rem;
            margin: 20px 0 0 0;
        }
        .price{
            margin-left: auto;
            margin: 30px 0 30px auto;
            b{
                color: $secondaryColor;
            }
        }
        .sub-heading{
            svg{
                width: 15px;
                height: 15px;
            }
            b{
                font-size: 0.8rem;
            }
            p{
                font-size: 0.8rem;
                text-align: right;
            }
        }
        .left-div{
            width: 95%;
        }
        .discreption{
            font-size: 0.8rem;
        }
        .benefit-list{
            
            
            li {
                display: flex;
                align-items: center;
                font-size: 0.8rem;
                svg{
                    width: 25px;
                    margin: 5px;
                }
            }
        }
    }
}
.overview-div{
    margin-top: 25%;
    text-align: center;
    width: 70%;
    margin: 25% auto 5% auto;
    white-space: pre-wrap;
    @include mobile{
        margin-top: 50%;
    }
}

.concepts-div{
    padding: 5%;
    text-align: center;
    .content{
        list-style: none;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        li{
            margin:  10px;
            background-color: $primaryColor;
            border-radius: 10px;
            height: fit-content;
            .header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                border-radius: 10px;
                
                padding: 5px 20px;
            }
        }
        @include mobile{
            grid-template-columns: 1fr;
        }
    }
}