.top-bg {
  background-color: rgba(255, 136, 0, 0.8);
  width: 100%;
}

.course-details-details-card {
  background-color: white;
  border-radius: 20px;
  padding: 3% 0% 3% 2%;
  top: 80px;
  position: relative;
  margin: 0 10%;
  box-shadow: 0px 0px 30px #aaaaaa;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 576px) {
  .course-details-details-card {
    flex-direction: column;
  }
}

.course-details-details-card .price b {
  font-size: 1.2rem;
  color: #ff8800;
}

.course-details-details-card .left-div {
  width: 60%;
  margin: auto;
}

.course-details-details-card .right-div {
  margin: 0 10px;
  margin: 1px sold;
  padding: 10px;
  box-shadow: 0px 0px 10px #aaaaaa;
  border-radius: 25px;
  overflow: hidden;
  width: 35%;
}

@media (max-width: 576px) {
  .course-details-details-card .right-div {
    width: 80%;
    margin: 10px;
  }
}

.course-details-details-card .discreption {
  color: #696969;
  font-size: 0.9rem;
}

.course-details-details-card .benefit-list {
  list-style: none;
  padding: 0;
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.course-details-details-card .benefit-list li {
  display: flex;
  align-items: center;
}

.course-details-details-card .benefit-list li svg {
  width: 30px;
  margin: 0 5px;
}

@media (max-width: 576px) {
  .course-details-details-card {
    margin: 0 20px;
    padding: 1%;
  }
  .course-details-details-card .course-title {
    font-size: 1.5rem;
    margin: 20px 0 0 0;
  }
  .course-details-details-card .price {
    margin-left: auto;
    margin: 30px 0 30px auto;
  }
  .course-details-details-card .price b {
    color: #ff8800;
  }
  .course-details-details-card .sub-heading svg {
    width: 15px;
    height: 15px;
  }
  .course-details-details-card .sub-heading b {
    font-size: 0.8rem;
  }
  .course-details-details-card .sub-heading p {
    font-size: 0.8rem;
    text-align: right;
  }
  .course-details-details-card .left-div {
    width: 95%;
  }
  .course-details-details-card .discreption {
    font-size: 0.8rem;
  }
  .course-details-details-card .benefit-list li {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
  }
  .course-details-details-card .benefit-list li svg {
    width: 25px;
    margin: 5px;
  }
}

.overview-div {
  margin-top: 25%;
  text-align: center;
  width: 70%;
  margin: 25% auto 5% auto;
  white-space: pre-wrap;
}

@media (max-width: 576px) {
  .overview-div {
    margin-top: 50%;
  }
}

.concepts-div {
  padding: 5%;
  text-align: center;
}

.concepts-div .content {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0;
}

.concepts-div .content li {
  margin: 10px;
  background-color: #ecfafc;
  border-radius: 10px;
  height: fit-content;
}

.concepts-div .content li .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 10px;
  padding: 5px 20px;
}

@media (max-width: 576px) {
  .concepts-div .content {
    grid-template-columns: 1fr;
  }
}
