.privacy-policy {
  padding: 10vh 1rem;
  background-color: #26232e;
  color: #ecfafc;
}

.privacy-policy h1,
.privacy-policy h3,
.privacy-policy p,
.privacy-policy b {
  color: inherit;
  font-family: 'Noto Sans';
}

.privacy-policy b {
  display: block;
  margin-top: 1rem;
  text-decoration: underline;
}
