@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';

.nav-bar{
    // background-color: rgb(38, 35, 46);
    background-color: transparent;
    position: fixed;
    top: 0px;
    padding:0px 5%;
    width: 100%;
    z-index: 150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navHeight;
    transition: all 0.3s;
    .logo{
        display: flex;
        align-items: center;
        width: 50px;
        img{
            width: 25px;
            height: auto;
        }
        h1{
            font-size: 1.3rem;
            margin: 0 10px;
            color: $secondaryColor;
        }
    }
    
    .end-links{
        // display: flex;
        
        align-items: center;
        overflow-wrap: break-word;
        text-align: center;
        a{
            // display: block;
            // background-color: rgba($secondaryColor, 1);
            color: $primaryColor;
            text-align: center;
            max-width: fit-content;
            padding: 5px;
            height: fit-content;
            
            text-decoration: none;
            border: 2px solid $secondaryColor;
            
        }
    }
    @include mobile{
        padding:0px 1%;
        .logo{
            img{
                width: 20px;
            }
            h1{
                font-size: 1.1rem;
                margin-left: 5px;
                color: $secondaryColor;
            }
        }
        .end-links{
            a{
                padding: 5px;
                height: fit-content;
                text-decoration: none;
                border: 2px solid $secondaryColor;
                font-size: 0.9rem;
            }
        }
    }
}
.scroll{
    background-color: rgba(black,0.6);

    backdrop-filter: blur(5px);
    .end-links{
        a{
            background-color: rgba($secondaryColor, 1);
            
            
        }
    }
}