
.header{
    display: flex;
    justify-content: space-evenly;
}
.header-img{
    width: 40px;
    height: 40px;
    padding: 10px;
    margin: 10px;
    margin-top: 15px;
    cursor: pointer;
}
.header-text{
    margin-top: 23px;
}
.flag-img-div{
    width: 70%;
    display: flex;
    align-content: center;
    text-align: center;
}

.header-div-left{
    display: flex;
    justify-content: space-around;
    color: white;
}

