@import '../../assets/styles/variables.scss';

.nav-bar{
    background-color: $primaryColor;
    position: sticky;
    top: 0px;
    margin: 0;
    padding: 20px;
    z-index: 150;
    .logo{
        display: flex;
        align-items: center;
        
        img{
            width: 30px;
            height: auto;
        }
        h1{
            font-size: 1.5rem;
            margin: 0 10px;
            color: rgb(255, 136, 0);
        }
    }
    @media (max-width:600px){
        .logo{
            img{
                width: 20px;
            }
            h1{
                font-size: 1.2rem;
            }
        }
        
    }
    
    
}