@import '../../assets/styles/variables.scss';

.nav-bar{
    // background-color: rgb(38, 35, 46);
    background-color: rgba(white,0.8);
    filter: blur(0.3);
    position: sticky;
    top: 0px;
    padding:0px 5%;
    width: 100%;
    z-index: 150;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: $navHeight;
    .logo{
        display: flex;
        align-items: center;
        width: 50px;
        img{
            width: 25px;
            height: auto;
        }
        h1{
            font-size: 1.3rem;
            margin: 0 10px;
            color: $secondaryColor;
        }
    }

    .end-links{
        a{
            background-color: rgb(38, 35, 46);
            color: $primaryColor;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
        }
    }
    
}