@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';

//TExtInput.js
.input-label-div {
	position: relative;
	overflow: hidden;
	margin: 10px 0;
	height: 2.5rem;

	.inp-label {
		position: absolute;
		top: 0.5rem;
		font-size: 0.8rem;
		left: 10px;
		color: rgba(0, 0, 0, 0.5);
		transition: all 0.2s;
		pointer-events: none;
	}

	.inp {
		width: 100%;
		border-radius: 5px;
		height: 100%;
		bottom: 0;
		padding-top: 2%;
		padding-left: 8px;
		font-size: 0.8rem;
		/* transition: all linear 0.1s; */
		border: solid 1px rgba(27, 9, 9, 0.1);
	}

	.inp:disabled+.inp-label {
		outline: none;
		color: black;
		top: 0;
		font-size: 0.7rem;
	}

	.inp:not(:placeholder-shown)+.inp-label {
		// /* if placeholder is shown - meaning - no value in input */
		outline: none;
		color: black;
		top: 0;
		font-size: 0.7rem;
	}

	.inp:focus+.inp-label {
		outline: none;
		color: black;
		top: 0;
		font-size: 0.7rem;
	}
}

//TestimonialCarousel.js
.testimonial-carousel {
	padding: 40px;
	background-color: $primaryColor;
	text-align: center;

	.mentor {
		padding: 20px 50px;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		@include mobile {
			padding: 0;
			height: 500px;
			display: grid !important;

			justify-content: space-between;
			overflow: hidden;
		}

		.quote-svg {
			display: grid;
			place-items: center;

			svg {
				width: 70px;
				height: 70px;

				path {
					color: $secondaryColor;
				}

			}
		}

		.header {
			display: flex;
			justify-content: center;
			align-items: center;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;

			img {
				width: 30%;
				height: 90px;
				border-radius: 50%;
				border: 3px solid white;


			}
		}

		.heading {
			margin-top: auto;

			.name {
				display: flex;
				align-items: center;
				justify-content: center;
				position: relative;

				path {
					color: rgb(17, 82, 147)
				}

				p {
					font-weight: 500;
					color: black;
				}
			}

			.company {
				// -webkit-box-shadow: 0px 0px 15px 5px rgba(231,166,26,1);
				// -moz-box-shadow: 0px 0px 15px 5px rgba(231,166,26,1);
				// box-shadow: 0px 0px 15px 5px rgba(231,166,26,1);

				margin: 15px auto;
				margin-bottom: 0px;
				padding: 15px;
				border-radius: 4px;
				background-color: cornflowerblue;
				position: relative;
				overflow: hidden;
				animation: shine 5s infinite cubic-bezier(.45, .89, .98, .47);

				p {
					font-weight: 500;
					font-size: 0.95rem;
					width: 100%;
					color: white;

				}

				@keyframes shine {
					from {
						background-repeat: no-repeat;
						background-image: -webkit-linear-gradient(top left,
								rgba(255, 255, 255, 0.0) 0%,
								rgba(255, 255, 255, 0.0) 45%,
								rgba(255, 255, 255, 0.5) 48%,
								rgba(255, 255, 255, 0.8) 50%,
								rgba(255, 255, 255, 0.5) 52%,
								rgba(255, 255, 255, 0.0) 57%,
								rgba(255, 255, 255, 0.0) 100%);
						background-position: -250px -250px;
						background-size: 600px 600px
					}

					to {
						background-repeat: no-repeat;
						background-position: 250px 250px;
					}
				}
			}
		}

		.discreption {
			text-align: center;
			padding: 15px;

			p {
				font-size: 0.9rem;
				font-style: italic;
			}

		}
	}
}

//MentorsCarousels.js
.our-team-carousel {
	background-image: linear-gradient(326deg, #a4508b 0%, #5f0a87 74%);

	margin: 0 auto;
	padding: 40px 0;
	text-align: center;

	h1 {
		color: $primaryColor;
	}

	.carousel {
		padding: 40px;

		.slick-slide {
			.mentor {
				margin-top: 20%;
				padding: 10px;
				height: 100px;
				text-decoration: none;

				.header {
					background-color: pink;
					display: flex;
					justify-content: center;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;

					img {
						width: 38%;
						height: 120px;
						border-radius: 50%;
						border: 3px solid white;
						margin-top: -50px;
						margin-bottom: 20px;
					}
				}

				.shadow {
					box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
					background-color: $primaryColor;
				}

				.heading {
					.name {
						display: flex;
						align-items: center;
						justify-content: center;
						position: relative;

						path {
							color: rgb(17, 82, 147)
						}

						p {
							font-weight: 500;
						}

						&::after {
							position: absolute;
							content: "";
							width: 60%;
							height: 2px;
							background-color: #dbd9d9;
							transform: translate(0, 800%);
						}
					}

					.designation {
						display: flex;
						align-items: center;
						justify-content: center;

						img {
							width: 30px;
							margin: 0 10px;
							height: auto;
						}

						text-align: center;
						font-size: 0.75rem;
						color: rgb(17, 82, 147);

					}
				}

				.discreption {
					overflow-y: scroll;
					height: 150px;
					text-align: center;
					padding: 15px;

					p {
						font-size: 0.7rem;
					}

					&::-webkit-scrollbar {
						width: 3px;
						background-color: transparent;
						background: none;
					}

					&::-webkit-scrollbar-thumb {
						background-color: #000000;
					}

					&::-webkit-scrollbar-track {
						-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
						background: none;
					}


				}
			}

		}
	}
}

// OurClientsCarousel.js
.home-page-our-clients {
	background-color: #ffe0e7;
	background: linear-gradient(326deg, #ffe0e7, #ecfafc);

	margin: 0 auto;
	padding: 40px 0;
	text-align: center;

	.carousel {
		padding: 40px;

		.slick-slide {
			.item {
				justify-content: space-between;
				height: 100%;

			}

			img {
				margin: auto;
				width: 100px;
				padding: 20px;
				height: 100%;

			}
		}

		@media (max-width:600px) {
			padding: 10px;
			width: 100%;

			h2 {
				font-size: 1.3rem;
			}

		}
	}

}