@import '../../assets/styles/variables.scss';
@import '../../assets/styles/_mixins.scss';

.reach-us-div {
	background-color: $tertiaryColor;
	padding: 20px;
	color: white;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;

	@include mobile {
		display: grid;
		grid-template-columns: 1fr 1fr;
		grid-row-gap: 10px;

	}

	.content {
		text-align: center;

		path {
			color: white;
		}

		p,
		a {
			display: block;
			color: white;
			font-size: 0.8rem;
			max-width: 250px;
		}
	}
}