.reach-us-div {
  background-color: rgb(41, 39, 44);
  padding: 20px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .content {
    text-align: center;

    path {
      color: white;
    }

    p,
    a {
      display: block;
      color: white;
      font-size: 0.8rem;
      max-width: 250px;
    }
  }
}
