.btn {
  display: inline-block;
  background: #ff8800;
  color: white;
  padding: 0.9rem 3.9rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition-duration: 0.8s;
  outline: none;
}

.btn:hover {
  transition: opacity 0.2s ease-in;
  background: #26232e;
  color: white;
}

.align {
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.head {
  background-color: #1c2a3e;
  width: 100%;
  padding: 80px;
}

@media (max-width: 576px) {
  .head {
    padding: 80px 30px;
  }
  .head h1 {
    font-size: 1.8rem;
  }
  .head p {
    font-size: 1.5rem;
  }
}

.col-2 {
  float: left;
  width: 50%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 40px;
}

.col-2 img {
  width: 300px;
}

@media (max-width: 576px) {
  .col-2 {
    width: 100%;
  }
  .col-2 img {
    width: 200px;
  }
}

.col-4 {
  float: left;
  width: 25%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.col-4 img {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .col-4 {
    width: 100%;
  }
  .col-4 img {
    width: 100%;
  }
}

.col-3 {
  float: left;
  width: 33%;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.col-3 img {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
}

@media (max-width: 576px) {
  .col-3 {
    width: 100%;
  }
  .col-3 img {
    width: 100%;
  }
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

/* Utils */
.bg-light {
  background: #f7f7f7;
  color: #f8f6f6;
}

/* Colors */
.orange {
  color: #ff8800;
}

.white {
  color: white;
}

/* Padding */
.p {
  padding: 0.5rem;
}

.p-1 {
  padding: 1rem;
}

.p-2 {
  padding: 2rem;
}

.p-3 {
  padding: 3rem;
}

@media (max-width: 576px) {
  .p-3 {
    padding: 0;
  }
}

/* Font Size */
.fs-50 {
  font-size: 50px;
}

.fs-30 {
  font-size: 30px;
}

.slider-div {
  background-color: #26232e;
  padding: 20px 0;
}

.slider-div * {
  color: white;
}

.slider-div .content {
  display: flex;
  align-items: center;
}

@media (max-width: 576px) {
  .slider-div .content {
    flex-direction: column;
  }
}

.slider-div .content h1 {
  font-weight: 300;
  font-family: 'Noto Sans';
}

.slider-div .content .slider {
  padding: 0 10px;
  margin: auto;
  width: 40%;
}

@media (max-width: 576px) {
  .slider-div .content .slider {
    width: 100%;
  }
}

.slider-div .content .content {
  width: 60%;
  display: flex;
  margin: 50px auto;
  align-items: center;
  justify-content: space-evenly;
}

.slider-div .content .content div p {
  font-size: 2rem;
  color: orange;
  font-weight: 500;
  margin: 10px 0;
}

@media (max-width: 576px) {
  .slider-div .content .content div {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

@media (max-width: 576px) {
  .slider-div .content .content {
    width: 100%;
  }
}
